.form-grid {
  grid-template-columns: repeat(12, 1fr);

  & > *:first-child {
    grid-column: 1 / 6;
  }

  & > *:nth-child(2) {
    grid-column: 6 / 8;
  }

  & > *:last-child {
    grid-column: 8 / 13;
  }

  @media (max-width: 1300px) {
    display: flex !important;
    gap: 3rem;
    flex-direction: column;
  }

  h2 {
    @media (max-width: 768px) {
      font-size: 1.125rem !important;
    }
  }
}

.form {
  &__or {
    background: var(--bs-white);
    box-shadow: 0px 0px 45.9px rgba(255, 255, 255, 0.25);
    color: var(--bs-black);
    font-weight: 500;
  }
}

input[type="checkbox"] {
  appearance: none;
  min-width: 22px;
  min-height: 22px;
  border: 3px solid var(--bs-primary);
  border-radius: 6px;
  display: inline-block;
  position: relative;
  transition: background 0.3s ease;
  overflow: hidden;
  background: transparent;
  cursor: pointer;

  &:checked {
    background: var(--bs-white);

    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTUgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMSA0Ljg1NzE0TDUuNzI3MjcgMTBMMTQgMSIgc3Ryb2tlPSIjNDY0MkYzIiBzdHJva2Utd2lkdGg9IjIiLz4NCjwvc3ZnPg0K");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3 ease;
  }
}

.main-form {
  border: 2px solid rgba(255, 255, 255, 0.05);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(255, 255, 255, 0.04);
    z-index: -1;
  }

  &__button {
    background: linear-gradient(90deg, #4642f3, #3431c6);
    background-size: 300% 300%;
    transition: box-shadow 0.3s ease;
    box-shadow: none;
  }

  &__button:hover {
    animation: gradientAnimation 0.8s forwards;
    box-shadow: 0px 4px 16px 0px rgba(70, 66, 243, 0.25);
  }

  &__button:not(:hover) {
    animation: gradientAnimationReverse 0.8s forwards;
    box-shadow: none;
  }

  &__description {
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 1rem !important;
    }
  }

  &__label {
    font-size: 1rem;
  }

  &__input {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(70, 66, 243, 0.2);
    color: var(--bs-white);

    &:placeholder {
      color: rgba(255, 255, 255, 0.24);
    }
  }

  &__checkbox {
    font-size: 1rem;

    & a {
      text-decoration: underline;
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradientAnimationReverse {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.item-network {
  grid-template-columns: 1fr 1fr;

  &__net.mail-social {
    grid-column: 1 / 3;
  }

  .tg {
    color: #61cfff;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(117, 245, 255, 0.08);
      border: 2px solid rgba(118, 246, 255, 0.08);
      border-radius: 1rem;
      backdrop-filter: blur(57px);
      z-index: -1;
    }
  }

  .vk {
    color: #3a8fff;

    & {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(58, 144, 255, 0.08);
      border: 2px solid rgba(58, 144, 255, 0.08);
      border-radius: 1rem;
      backdrop-filter: blur(57px);
      z-index: -1;
    }
  }

  .mail-social:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    backdrop-filter: blur(57px);
    z-index: -1;
  }
}

.svg-telegram {
  width: 33px;
  height: 29px;
}

.svg-vk {
  width: 30px;
  height: 30px;
}

.svg-mail {
  width: 30px;
  height: 23px;
}
