.title {
  font-family: var(--font-unbounded);
  font-size: 3.1875rem;

  @media (max-width: 1200px) {
    font-size: 2.5rem;
  }

  @media (max-width: 992px) {
    font-size: 2rem;
  }

  @media (max-width: 550px) {
    font-size: 1.3125rem;
  }
}

.main-section {
  z-index: 4;
}

.main-section__wrapper {
  @media (max-width: 1800px) {
    margin: 0;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 4rem;
  }
}

.main-section__info button {
  @media (max-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.main-section__title,
.main-section__description {
  @media (min-width: 992px) {
    max-width: 856px;
  }
}

.main-section__description {
  line-height: 1.3;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.main-section__marks {
  max-width: 280px;
}

.h-mark {
  border: 2px solid var(--btn-border);
  transition: all 0.3s ease;

  &:hover {
    background: var(--bs-white);
    color: var(--bs-black);
  }
}

.main-section__background {
  overflow: hidden;
  width: 100vw;
  top: 0;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}
