.review-block {
  border: 2px solid var(--white-background);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: var(--white-background);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
  }

  &:hover {
    .blur3 {
      opacity: 0.45;
    }

    .blur4 {
      opacity: 0.65;
    }
  }
}

.block-review {
  &__text {
    background: var(--arrow-border);
    border: 2px solid var(--white-background);
    z-index: 5;
    color: var(--light-color);
  }

  &__wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }

  &__wrapper {
    z-index: 5;
  }

  &__description {
    color: var(--light-color);
  }

  &__author {
    @media (max-width: 992px) {
      font-size: 1.3125rem !important;
    }

    @media (max-width: 768px) {
      font-size: 1.125rem !important;
    }
  }

  &__text,
  &__description {
    @media (max-width: 992px) {
      font-size: 1.125rem !important;
    }

    @media (max-width: 768px) {
      font-size: 1rem !important;
    }
  }
}
