.why-we {
  &__wrapper,
  img,
  svg {
    position: relative;
    z-index: 3;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  & img {
    height: 38.5vh;
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
  }

  .svg-wrapper {
    @media (max-width: 768px) {
      display: flex;
    }

    svg {
      width: 46px;
      height: 46px;
      color: var(--bs-pink);

      @media (max-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__blocks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;

    @media (max-width: 1400px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__block {
    position: relative;
    border: 2px solid var(--white-background);
    min-height: 446px;

    @media (max-width: 1400px) {
      min-height: auto;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-backdrop-filter: blur(2rem);
      backdrop-filter: blur(2rem);
      background: var(--white-background);

      @media (max-width: 768px) {
        background: var(--arrow-border);
      }
    }

    &:hover {
      .blur1 {
        opacity: 0.15;
        left: -50px;
      }

      .blur2 {
        opacity: 0.25;
        bottom: -140px;
        left: -80px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.3;

    @media (max-width: 992px) {
      font-size: 1.5rem;
    }

    @media (max-width: 550px) {
      font-size: 1.125rem;
    }
  }

  &__description {
    color: var(--light-color);
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.background-blur.why-we {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 200%;
  opacity: 0.2;

  @media (max-width: 768px) {
    width: 300%;
    opacity: 0.5;
  }
}

.background-blur.partners {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 250%;
  opacity: 0.4;

  @media (max-width: 768px) {
    top: 20%;
    width: 200%;
    height: 120%;
    opacity: 0.7;
  }
}

.background-blur.projects {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 180%;
  opacity: 0.55;

  @media (max-width: 768px) {
    top: 20%;
    width: 300%;
    height: 120%;
    opacity: 0.4;
  }
}

.background-blur.seo {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 180%;
  opacity: 0.55;

  @media (max-width: 768px) {
    width: 300%;
    height: 120%;
    opacity: 0.4;
  }
}

.background-blur.seo-block.one {
  width: 200%;
  height: 150%;
  opacity: 0.3;
  transition: all 0.3s ease;
  top: 67%;
}

.background-blur.seo-block.two {
  width: 200%;
  height: 150%;
  opacity: 0.2;
  transition: all 0.3s ease;
  top: -101%;
}

.blur1 {
  z-index: 2;
  height: 300px;
  width: 200%;
  pointer-events: none;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(190, 0, 104, 0.55) 0%,
    rgba(139, 10, 81, 0.5) 39.5%,
    rgba(71, 4, 41, 0.3) 70.99%,
    rgba(26, 1, 14, 0) 100%
  );

  border-radius: 50%;
  transition: all 0.3s ease;

  &.we {
    opacity: 0.1;
    top: -100px;
    left: 0;
  }

  &.partners {
    opacity: 0.2;
    top: -100px;
    left: 0;
  }

  &.projects {
    width: 80%;
    top: -100px;
    left: 0;
    opacity: 0.25;
  }
}

.blur2 {
  z-index: 2;
  height: 400px;
  width: 200%;
  pointer-events: none;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(190, 0, 104, 0.55) 0%,
    rgba(139, 10, 81, 0.5) 39.5%,
    rgba(71, 4, 41, 0.3) 70.99%,
    rgba(26, 1, 14, 0) 100%
  );

  border-radius: 50%;
  transition: all 0.3s ease;

  &.we {
    opacity: 0.2;
    bottom: -160px;
    left: -50px;
  }

  &.partners {
    opacity: 0.2;
    bottom: -50px;
    left: -50px;
  }

  &.projects {
    height: 700px;
    width: 80%;
    bottom: -520px;
    opacity: 0.35;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 768px) {
      height: 100%;
      width: 250%;
      bottom: -42%;
      opacity: 0.6;
    }
  }
}
