.advertisment-wrapper {
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1400px) {
    grid-template-columns: 1fr;
  }
}

.advertisment {
  &__item:first-child {
    background: var(--white-background);
    border: 2px solid var(--white-background);
    backdrop-filter: blur(36px);
  }
}
