<section class="advertisment mt-lg-10 mt-md-9 mt-8">
    <h2 class="fs-2 text-center">Почему SEO продвижение выгоднее контекстной и таргетированной рекламы?</h2>

    <div class="d-grid mt-md-9 mt-8 gap-4 advertisment-wrapper">
        <div
            class="advertisment__item default-background p-md-5 p-3 rounded-4 d-flex flex-column justify-content-center">
            <p class="fw-semibold item-advertisment__text">
                <span class="text-decoration-underline">SEO-продвижение</span> позволяет вам получить долгосрочные
                результаты при
                меньших затратах в перспективе.
            </p>

            <p class="mt-4">В отличие от контекстной и таргетированной рекламы, где необходимо постоянно инвестировать
                значительные
                средства для
                поддержания трафика, SEO обеспечивает стабильный поток посетителей благодаря органическому поиску.</p>

            <p class="mt-4">Это значит, что ваш сайт будет привлекать клиентов без дополнительных расходов на каждое
                привлечение.
            </p>
        </div>
        <div class="advertisment__item overflow-hidden">
            <div class="table-responsive rounded-4 w-100 h-100">
                <table class="table rounded-4 w-100 h-100 table-bordered mb-0 table-fixed fixed-first-column">
                    <thead>
                        <tr>
                            <th scope="col">Критерий</th>
                            <th scope="col">SEO продвижение</th>
                            <th scope="col">Контекстная реклама</th>
                            <th scope="col">Таргетированная реклама</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Долговременность</td>
                            <td>Долгосрочный эффект, стабильный трафик</td>
                            <td>Краткосрочный эффект, требуется постоянный бюджет</td>
                            <td>Краткосрочный эффект, требуется постоянный бюджет</td>
                        </tr>
                        <tr>
                            <td>Стоимость</td>
                            <td>Разовые вложения с постепенным снижением затрат</td>
                            <td>Высокая стоимость клика, постоянные расходы</td>
                            <td>Высокая стоимость за тысячу показов (CPM), постоянные расходы</td>
                        </tr>
                        <tr>
                            <td>Доверие аудитории</td>
                            <td>Высокое доверие пользователей</td>
                            <td>Меньшее доверие, воспринимается как реклама</td>
                            <td>Меньшее доверие, воспринимается как реклама</td>
                        </tr>
                        <tr>
                            <td>Конкуренция</td>
                            <td>Стабильное преимущество при хорошей оптимизации</td>
                            <td>Высокая конкуренция за ключевые слова</td>
                            <td>Высокая конкуренция за целевую аудиторию</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>