<section class="about-service d-lg-grid d-flex gap-4 mt-lg-10 mt-9 position-relative">
    <div class="background-blur about-service position-absolute less"></div>
    <div class="about-service__description rounded-4 p-md-5 p-3">
        <p class="fs-3 about-service__title">Получите на 200% больше потенциальных клиентов с APEXWEB</p>
        <p class="mt-3">В современном цифровом мире быть видимым — значит быть успешным. SEO (поисковая оптимизация) —
            это ключ
            к достижению долгосрочной видимости и устойчивого роста вашего бизнеса в интернете.</p>
        <p class="mt-3">В APEXWEB мы помогаем маркетологам и руководителям вывести свои компании на новый уровень
            с помощью
            проверенных стратегий SEO.</p>
        <p class="mt-3">Чтобы увеличить продажи и привлечь больше клиентов, доверьте нам комплексное продвижение вашего
            сайта.</p>
    </div>
    <div class="about-service__image rounded-4">
        <img src="./img/service.jpg" alt="service" class="rounded-4">
    </div>
</section>