<section class="faq mt-lg-10 mt-md-9 mt-8">
    <h2 class="fs-2 text-center">Частые вопросы</h2>

    <div class="accordion-wrapper d-grid mt-5">
        <div class="accordion mt-md-8 mt-0 d-flex flex-column gap-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="pe-3">Гарантируете ли вы, что мой сайт попадет в топ-10?</span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Мы обеспечиваем качественное и оперативное выполнение всех задач по SEO-продвижению.
                            Гарантировать попадание сайта в
                            топ-10 поисковой выдачи невозможно, поскольку на результаты влияют независимые поисковые
                            системы, которые могут менять
                            свои алгоритмы ранжирования и требования к сайтам.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="pe-3">Как скоро я увижу результаты?</span>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Мы обеспечиваем качественное и оперативное выполнение всех задач по SEO-продвижению.
                            Гарантировать попадание сайта в
                            топ-10 поисковой выдачи невозможно, поскольку на результаты влияют независимые поисковые
                            системы, которые могут менять
                            свои алгоритмы ранжирования и требования к сайтам.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="pe-3">Используете ли вы «черные» методы?</span>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Мы обеспечиваем качественное и оперативное выполнение всех задач по SEO-продвижению.
                            Гарантировать попадание сайта в
                            топ-10 поисковой выдачи невозможно, поскольку на результаты влияют независимые поисковые
                            системы, которые могут менять
                            свои алгоритмы ранжирования и требования к сайтам.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="pe-3">Что входит в стоимость?</span>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Мы обеспечиваем качественное и оперативное выполнение всех задач по SEO-продвижению.
                            Гарантировать попадание сайта в
                            топ-10 поисковой выдачи невозможно, поскольку на результаты влияют независимые поисковые
                            системы, которые могут менять
                            свои алгоритмы ранжирования и требования к сайтам.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <span class="pe-3">Можете ли вы подобрать для моего сайта индивидуальный тариф?</span>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Мы обеспечиваем качественное и оперативное выполнение всех задач по SEO-продвижению.
                            Гарантировать попадание сайта в
                            топ-10 поисковой выдачи невозможно, поскольку на результаты влияют независимые поисковые
                            системы, которые могут менять
                            свои алгоритмы ранжирования и требования к сайтам.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSixth" aria-expanded="false" aria-controls="collapseSixth">
                        <span class="pe-3">Как долго нужно заниматься SEO-продвижением?</span>
                    </button>
                </h2>
                <div id="collapseSixth" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Мы обеспечиваем качественное и оперативное выполнение всех задач по SEO-продвижению.
                            Гарантировать попадание сайта в
                            топ-10 поисковой выдачи невозможно, поскольку на результаты влияют независимые поисковые
                            системы, которые могут менять
                            свои алгоритмы ранжирования и требования к сайтам.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>