<section class="why-we mt-lg-10 mt-9 position-relative">
    <div class="background-blur why-we position-absolute"></div>
    <h2 class="fs-2 text-center">Приемущества продвижения с APEXWEB</h2>

    <div class="d-grid why-we__blocks mt-lg-9 mt-md-8 mt-7 gap-md-4 gap-3">
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#hands"></use>
                </svg>
            </div>
            <div class="why-we__wrapper flex-fill mt-7">
                <p class="why-we__title">Финансовые гарантии</p>
                <p class="why-we__description mt-3">Мы закрепляем финансовые гарантии в договоре. Стоимость будет
                    зависеть от достигнутых результатов. Ваш успех —
                    наша ответственность
                </p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#cup"></use>
                </svg>
            </div>
            <div class="why-we__wrapper flex-fill mt-7">
                <p class="why-we__title">Рост конверсии сайта</p>
                <p class="why-we__description mt-3">Мы следим за трендами в интернет-маркетинге и внедряем их на Вашем
                    сайте.
                    Улучшая его продающие способности, мы стремимся к главной цели — увеличению продаж и достижению
                    высоких позиций в
                    поисковой выдаче</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#strange"></use>
                </svg>
            </div>
            <div class="why-we__wrapper flex-fill mt-7">
                <p class="why-we__title">Персональный SEO-эксперт проекта</p>
                <p class="why-we__description mt-3">Ваш аккаунт-менеджер всегда обладает актуальными данными о работе с
                    поисковой оптимизацией и готов помогать на любом
                    этапе нашего сотрудничества</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#energy"></use>
                </svg>
            </div>
            <div class="why-we__wrapper flex-fill mt-7">
                <p class="why-we__title">Собственный отдел разработки</p>
                <p class="why-we__description mt-3">Мы без дополнительных трат улучшаем скорость загрузки, структуру
                    сайта и внедряем мобильную адаптацию, обеспечивая
                    лучшую техническую поддержку</p>
            </div>
        </div>
    </div>
</section>