<footer class="footer">
  <div class="container">
    <div class="d-flex header-footer align-items-center justify-content-between">
      <a href="/" class="header__logo offset-xxl-1 d-flex gap-2 px-lg-0 align-items-center col-lg-2">
        <img class="logo" src="./img/svg/apexweb-logo-white.svg" alt="Logo">
        <p class="fs-4 logo__title">Apexweb</p>
      </a>

      <a href="tel:79233740034" class="footer-tel d-flex gap-3 align-items-center ">
        <svg class="footer-tel__icon">
          <use xlink:href="./img/svg/sprite.svg#phone"></use>
        </svg>
        <p class="fs-4 logo__title">+7(923)374-00-34</p>
      </a>
      <a href="mail:info@apexweb.ru" class="footer-email d-flex gap-3 align-items-center ">
        <svg class="footer-email__icon">
          <use xlink:href="./img/svg/sprite.svg#mail"></use>
        </svg>
        <p class="fs-4 logo__title">info@apexweb.ru</p>
      </a>
      <button class="btn btn-pink py-3 px-7 rounded-4 col-lg-2">Обсудить проект</button>
      <div class="d-none d-xxl-flex offset-xxl-1"></div>
    </div>
  </div>
</footer>