<section class="form mt-lg-10 mt-8 position-relative">
    <div class="d-grid form-grid">
        <div class="main-form__wrapper">
            <h2 class="fs-2 text-center">Свежее решение или консультация в течение нескольких минут!</h2>
            <p class="fs-3 text-center main-form__description mt-md-4">Заполните форму и через пару минут <br /> мы Вам
                перезвоним!</p>

            <form action="#" class="main-form position-relative rounded-4 overflow-hidden mt-7 p-md-5 p-3">
                <div class="main-form__input-wrapper d-flex flex-column gap-2">
                    <label for="name" class="main-form__label">Ваше имя</label>
                    <input type="text" id="name" placeholder="Артём" class="main-form__input rounded-3 p-3">
                </div>
                <div class="main-form__input-wrapper d-flex flex-column gap-2 mt-3">
                    <label for="telephone" class="main-form__label">Ваш телефон</label>
                    <input type="tel" id="telephone phone" class="main-form__input rounded-3 p-3"
                        placeholder="+7 (999) 999-99-99">
                </div>
                <label class="d-flex gap-2 align-items-center mt-3 main-form__checkbox">
                    <input type="checkbox" id="agree" class="main-form__input-checkbox">
                    <p>Я соглашаюсь с условиями <a href="#">политики
                            конфиденциальности</a></p>
                </label>
                <button
                    class="btn btn-primary d-flex justify-content-center p-3 mt-md-5 mt-3 w-100 text-center main-form__button"
                    type="submit">Оставить
                    заявку</button>
            </form>
        </div>
        <div class="form__or-wrapper h-100 d-flex align-items-center justify-content-center">
            <p class="form__or py-2 px-3 rounded-3">ИЛИ</p>
        </div>
        <div class="form-networks d-flex flex-column justify-content-center">
            <h2 class="fs-2 text-center">Напишите нам! <br />Обговорим все тонкости в удобных для вас условиях</h2>
            <p class="fs-3 text-center main-form__description mt-md-4 mt-3">С нами можно связаться вот тут:</p>

            <div class="form-networks__items item-network d-md-grid d-flex flex-column gap-md-4 gap-5 mt-7">
                <a href="#"
                    class="item-network__net d-flex gap-3 align-items-center justify-content-center tg p-5 position-relative rounded-4">
                    <svg class="svg-telegram">
                        <use xlink:href="./img/svg/sprite.svg#telegram"></use>
                    </svg><span>Telegram</span></a>
                <a href="#"
                    class="item-network__net d-flex gap-3 align-items-center justify-content-center vk p-5 position-relative rounded-4">
                    <svg class="svg-vk">
                        <use xlink:href="./img/svg/sprite.svg#vk"></use>
                    </svg><span>ВКонтакте</span></a>
                <a href="#"
                    class="item-network__net d-flex gap-3 align-items-center justify-content-center p-5 position-relative rounded-4 mail-social">
                    <svg class="svg-mail">
                        <use xlink:href="./img/svg/sprite.svg#mail"></use>
                    </svg><span>info@apexweb.ru</span></a>
            </div>
        </div>
    </div>
</section>