<section class="projects helpful mt-lg-10 mt-8 position-relative">
    <div class="background-blur position-absolute"></div>
    <h2 class="fs-2 text-center">Кстати, о полезном</h2>

    <div class="projects__wrapper d-grid gap-3 mt-lg-9 mt-md-8 mt-7">
        <div class="projects__project project-projects rounded-4 p-md-5 p-3 position-relative overflow-hidden">
            <div class="project__wrapper position-relative d-flex flex-column h-100">
                <a href="#"><img src="./img/helpful1.jpg" alt="project"
                        class="project-projects__img rounded-3 w-100"></a>
                <div class="flex-fill">
                    <p class="why-we__title mt-md-6 mt-3">Векторизируй всё!</p>
                    <p class="why-we__description mt-md-3 mt-2">Упаковали новый визуал сайта, улучшили пользовательский
                        опыт, увеличили процент конверсий...</p>
                </div>

                <div class="project__links links-project d-flex justify-content-between mt-md-4 mt-3">
                    <div class="links-project__wrapper d-flex gap-2">
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                    </div>
                    <p class="links-project__link rounded-3">
                        <a class="py-md-2 py-1 px-3 d-flex align-items-center gap-3" href="#"><span>Смотреть кейс</span>
                            <svg class="large-arrow">
                                <use href="./img/svg/sprite.svg#large-arrow"></use>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>

            <div class="blur3 helpful position-absolute"></div>
            <div class="blur4 helpful position-absolute"></div>
        </div>
        <div class="projects__project project-projects rounded-4 p-md-5 p-3 position-relative overflow-hidden">
            <div class="project__wrapper position-relative d-flex flex-column h-100">
                <a href="#"><img src="./img/helpful2.jpg" alt="project"
                        class="project-projects__img rounded-3 w-100"></a>
                <div class="flex-fill">
                    <p class="why-we__title mt-md-6 mt-3">Платный хостинг — гарантия надежнсти</p>
                    <p class="why-we__description mt-md-3 mt-2">Упаковали новый визуал сайта, улучшили пользовательский
                        опыт, увеличили процент конверсий...</p>
                </div>

                <div class="project__links links-project d-flex justify-content-between mt-md-4 mt-3">
                    <div class="links-project__wrapper d-flex gap-2">
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                    </div>
                    <p class="links-project__link rounded-3">
                        <a class="py-md-2 py-1 px-3 d-flex align-items-center gap-3" href="#"><span>Смотреть кейс</span>
                            <svg class="large-arrow">
                                <use href="./img/svg/sprite.svg#large-arrow"></use>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>

            <div class="blur3 helpful position-absolute"></div>
            <div class="blur4 helpful position-absolute"></div>
        </div>
    </div>
</section>