<section class="main_section mt-9">
  <div class="main-section__wrapper row align-items-end justify-content-between">
    <div class="main-section__info offset-xxl-1 col-xxl-6">
      <h1 class="title mb-md-5 mb-3 main-section__title">
        APEXWEB <br /> Продвижение бизнеса и создание креативной экосистемы!
      </h1>
      <p class="mb-md-8 mb-5 main-section__description">Разрабатываем, дизайним, продвигаем и оптимизируем ваш бизнес.
        Осталось
        нажать на кнопку</p>
      <button class="btn btn-pink py-3 px-7 rounded-4">Обсудить проект</button>
    </div>
    <div class="col-xxl-4 d-flex justify-content-end">
      <div class="main-section__marks marks d-flex justify-content-end flex-wrap gap-2">
        <p class="h-mark rounded-2"><a class="px-3 py-1 d-inline-block" href="#">SMM</a></p>
        <p class="h-mark rounded-2"><a class="px-3 py-1 d-inline-block" href="#">SEO</a></p>
        <p class="h-mark rounded-2"><a class="px-3 py-1 d-inline-block" href="#">Айдентика</a></p>
        <p class="h-mark rounded-2"><a class="px-3 py-1 d-inline-block" href="#">WEB</a></p>
        <p class="h-mark rounded-2"><a class="px-3 py-1 d-inline-block" href="#">Команда под проект</a></p>
      </div>
    </div>
    <div class="col-xxl-1 d-xxl-block d-none"></div>
  </div>
</section>