<section class="why-we partners mt-lg-10 mt-9 position-relative">
    <div class="background-blur partners position-absolute"></div>
    <h2 class="fs-2 text-center">Мы и наши партнёры</h2>

    <div class="d-grid why-we__blocks mt-lg-9 mt-md-8 mt-7 gap-md-4 gap-3">
        <div
            class="why-we__block partners__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 partners position-absolute"></div>
            <div class="blur2 partners position-absolute"></div>
            <img src="./img/partner.jpg" class="rounded-3" alt="partner">
            <div class="why-we__wrapper">
                <p class="why-we__title mt-md-7 mt-5">Тарас Викторович Пензин</p>
                <p class="why-we__description mt-3">Генеральный директор, креативный мыслитель и главный по всем
                    вопросам</p>
            </div>
        </div>
        <div
            class="why-we__block partners__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 partners position-absolute"></div>
            <div class="blur2 partners position-absolute"></div>
            <img src="./img/partner.jpg" class="rounded-3" alt="partner">
            <div class="why-we__wrapper">
                <p class="why-we__title mt-md-7 mt-5">Тарас Викторович Пензин</p>
                <p class="why-we__description mt-3">Генеральный директор, креативный мыслитель и главный по всем
                    вопросам</p>
            </div>
        </div>
        <div
            class="why-we__block partners__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 partners position-absolute"></div>
            <div class="blur2 partners position-absolute"></div>
            <img src="./img/partner.jpg" class="rounded-3" alt="partner">
            <div class="why-we__wrapper">
                <p class="why-we__title mt-md-7 mt-5">Тарас Викторович Пензин</p>
                <p class="why-we__description mt-3">Генеральный директор, креативный мыслитель и главный по всем
                    вопросам</p>
            </div>
        </div>
        <div
            class="why-we__block partners__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 partners position-absolute"></div>
            <div class="blur2 partners position-absolute"></div>
            <img src="./img/partner.jpg" class="rounded-3" alt="partner">
            <div class="why-we__wrapper">
                <p class="why-we__title mt-md-7 mt-5">Тарас Викторович Пензин</p>
                <p class="why-we__description mt-3">Генеральный директор, креативный мыслитель и главный по всем
                    вопросам</p>
            </div>
        </div>
    </div>
</section>