<section class="popular-services mt-lg-10 mt-8 position-relative">
    <div class="background-blur position-absolute"></div>
    <h2 class="fs-2 text-center">Популярные услуги</h2>

    <div class="d-grid popular-services__blocks mt-lg-9 mt-md-8 mt-6 gap-md-4 gap-3">
        <a href="#"
            class="popular-services__block d-flex flex-column p-md-5 p-3 overflow-hidden position-relative rounded-4 justify-content-between">
            <div class="blur3 service position-absolute"></div>
            <div class="blur4 service position-absolute"></div>
            <div class="arrow-wrapper d-none d-md-flex justify-content-end">
                <div class="popular-services__arrow">
                    <svg class="p-3">
                        <use href="./img/svg/sprite.svg#large-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="flex-fill">
                <p class="why-we__title popular-services__title mt-md-8 mt-0">Внедрение digital-решений</p>
                <p class="why-we__description popular-services__description mt-3">Описание работы для конкретной сферы
                    услуг, которые предоставляет Apexweb</p>
            </div>
            <p
                class="links-project__link rounded-3 bg-white mt-md-9 mt-5 d-block d-md-inline-block px-3 py-md-1 py-0 text-center">
                от <span>100 000</span>₽
            </p>
        </a><a href="#"
            class="popular-services__block d-flex flex-column p-md-5 p-3 overflow-hidden position-relative rounded-4 justify-content-between">
            <div class="blur3 service position-absolute"></div>
            <div class="blur4 service position-absolute"></div>
            <div class="arrow-wrapper d-none d-md-flex justify-content-end">
                <div class="popular-services__arrow">
                    <svg class="p-3">
                        <use href="./img/svg/sprite.svg#large-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="flex-fill">
                <p class="why-we__title popular-services__title mt-md-8 mt-0">Создание айдентики</p>
                <p class="why-we__description popular-services__description mt-3">Описание работы для конкретной сферы
                    услуг, которые предоставляет Apexweb</p>
            </div>

            <p
                class="links-project__link rounded-3 bg-white mt-md-9 mt-5 d-block d-md-inline-block px-3 py-md-1 py-0 text-center">
                от <span>100 000</span>₽
            </p>
        </a><a href="#"
            class="popular-services__block d-flex flex-column p-md-5 p-3 overflow-hidden position-relative rounded-4 justify-content-between">
            <div class="blur3 service position-absolute"></div>
            <div class="blur4 service position-absolute"></div>
            <div class="arrow-wrapper d-none d-md-flex justify-content-end">
                <div class="popular-services__arrow">
                    <svg class="p-3">
                        <use href="./img/svg/sprite.svg#large-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="flex-fill">
                <p class="why-we__title popular-services__title mt-md-8 mt-0">Разработка сайтов</p>
                <p class="why-we__description popular-services__description mt-3">Описание работы для конкретной сферы
                    услуг, которые предоставляет Apexweb</p>
            </div>

            <p
                class="links-project__link rounded-3 bg-white mt-md-9 mt-5 d-block d-md-inline-block px-3 py-md-1 py-0 text-center">
                от <span>100 000</span>₽
            </p>
        </a><a href="#"
            class="popular-services__block d-flex flex-column p-md-5 p-3 overflow-hidden position-relative rounded-4 justify-content-between">
            <div class="blur3 service position-absolute"></div>
            <div class="blur4 service position-absolute"></div>
            <div class="arrow-wrapper d-none d-md-flex justify-content-end">
                <div class="popular-services__arrow">
                    <svg class="p-3">
                        <use href="./img/svg/sprite.svg#large-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="flex-fill">
                <p class="why-we__title popular-services__title mt-md-8 mt-0">Ведение и развитие соц.сетей</p>
                <p class="why-we__description popular-services__description mt-3">Описание работы для конкретной сферы
                    услуг, которые предоставляет Apexweb</p>
            </div>

            <p
                class="links-project__link rounded-3 bg-white mt-md-9 mt-5 d-block d-md-inline-block px-3 py-md-1 py-0 text-center">
                от <span>100 000</span>₽
            </p>
        </a><a href="#"
            class="popular-services__block d-flex flex-column p-md-5 p-3 overflow-hidden position-relative rounded-4 justify-content-between">
            <div class="blur3 service position-absolute"></div>
            <div class="blur4 service position-absolute"></div>
            <div class="arrow-wrapper d-none d-md-flex justify-content-end">
                <div class="popular-services__arrow">
                    <svg class="p-3">
                        <use href="./img/svg/sprite.svg#large-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="flex-fill">
                <p class="why-we__title popular-services__title mt-md-8 mt-0">SEO-Продвижение</p>
                <p class="why-we__description popular-services__description mt-3">Описание работы для конкретной сферы
                    услуг, которые предоставляет Apexweb</p>
            </div>

            <p
                class="links-project__link rounded-3 bg-white mt-md-9 mt-5 d-block d-md-inline-block px-3 py-md-1 py-0 text-center">
                от <span>100 000</span>₽
            </p>
        </a>
        <a href="#"
            class="popular-services__block d-flex flex-column p-md-5 p-3 overflow-hidden position-relative rounded-4 justify-content-between">
            <div class="blur3 service position-absolute"></div>
            <div class="blur4 service position-absolute"></div>
            <div class="arrow-wrapper d-none d-md-flex justify-content-end">
                <div class="popular-services__arrow">
                    <svg class="p-3">
                        <use href="./img/svg/sprite.svg#large-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="flex-fill">
                <p class="why-we__title popular-services__title mt-md-8 mt-0">Смотреть все услуги</p>
                <p class="why-we__description popular-services__description mt-3">Мы&nbsp;хороши во&nbsp;многом!</p>
            </div>
            <p
                class="links-project__link rounded-3 bg-white mt-md-9 mt-5 d-block d-md-inline-block px-3 py-md-1 py-0 text-center">
                Изучить <svg class="service-large-arrow">
                    <use href="./img/svg/sprite.svg#large-arrow"></use>
                </svg>
            </p>
        </a>
    </div>
</section>