<section class="reviews mt-lg-10 mt-9 position-relative">
    <h2 class="fs-2 text-center">Наши успехи в Ваших проектах</h2>

    <div class="swiffy-slider slider-item-show4 mt-md-9 mt-7">
        <ul class="slider-container pb-md-8">
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
            <li class="review-block d-flex flex-column p-md-5 p-3 rounded-4 position-relative overflow-hidden">
                <p class="block-review__text p-3 rounded-3 position-relative">
                    Искренняя благодарность команде APEXWEB за высокий профессионализм  и результативное сотрудничество!
                    Команда APEXWEB
                    проявила себя как ответственные и инициативные лидеры, способные достичь значительных...
                </p>

                <div class="block-review__wrapper d-flex mt-md-7 mt-3 gap-md-4 gap-3 position-relative">
                    <p><img class="block-review__img rounded-circle" src="./img/author.jpg" alt=""></p>
                    <div class="block-review__author-info">
                        <p class="block-review__author fs-3">Малышев Андрей Борисович</p>
                        <p class="block-review__description mt-md-3 mt-2">Руководитель ТК Телезон</p>
                    </div>
                </div>

                <div class="blur3 review position-absolute"></div>
                <div class="blur4 review position-absolute"></div>
            </li>
        </ul>

        <div class="slider-indicators gap-1">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
    </div>
</section>