<section class="why-we mt-lg-10 mt-9 position-relative">
    <div class="background-blur why-we position-absolute"></div>
    <h2 class="fs-2 text-center">Почему именно мы?</h2>

    <div class="d-grid why-we__blocks mt-lg-9 mt-md-8 mt-7 gap-md-4 gap-3">
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#hands"></use>
                </svg>
            </div>
            <div class="why-we__wrapper">
                <p class="why-we__title">Индивидуальный подход</p>
                <p class="why-we__description mt-3">Начиная с постановки задачи, ведения всего проекта, до подбора
                    каждого
                    члена
                    команды специально под проект</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#technologies"></use>
                </svg>
            </div>
            <div class="why-we__wrapper">
                <p class="why-we__title">Новейшие технологии</p>
                <p class="why-we__description mt-3">Используем лучшие предложения на рынке технологий для решения Ваших
                    задач под ключ</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#cup"></use>
                </svg>
            </div>
            <div class="why-we__wrapper">
                <p class="why-we__title">Индивидуальный подход</p>
                <p class="why-we__description mt-3">Начиная с постановки задачи, ведения всего проекта, до подбора
                    каждого
                    члена
                    команды специально под проект</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#energy"></use>
                </svg>
            </div>
            <div class="why-we__wrapper">
                <p class="why-we__title">Индивидуальный подход</p>
                <p class="why-we__description mt-3">Начиная с постановки задачи, ведения всего проекта, до подбора
                    каждого
                    члена
                    команды специально под проект</p>
            </div>
        </div>
    </div>
</section>