:root {
  --dark-background: #060610;
  --menu-background: rgba(25, 25, 25, 0.5);
  --menu-mobile-background: rgba(25, 25, 25);
  --white-background: rgba(255, 255, 255, 0.04);
  --svg-background: rgba(244, 36, 123, 0.2);
  --pink-blur: #ed1871;
  --light-pink: #e93580;
  --btn-pink-gradient: linear-gradient(
    179.34deg,
    #d2008c -47.95%,
    #e6007e 109.59%
  );
  --tg-color: #61cfff;
  --gray-line: rgba(255, 255, 255, 0.5);
  --table-background: #12121c;
  --table-first-background: #0b0b15;
  --article-background: #6e41f3;
  --blockquote-background: rgba(70, 66, 243, 0.2);
  --blockquote-border: #4642f3;
  --tg-border: rgba(118, 246, 255, 0.08);
  --btn-border: rgba(255, 255, 255, 0.1);
  --btn-box-shadow-s: rgba(237, 24, 113, 0.4);
  --btn-box-shadow-e: rgba(230, 0, 126, 0.2);
  --border-gray: rgba(255, 255, 255, 0.2);
  --gray-color: #949494;
  --light-transparent-color: rgba(255, 255, 255, 0.3);
  --mail-background: rgba(255, 255, 255, 0.08);
  --blue-border: rgba(58, 144, 255, 0.08);
  --light-color: rgba(255, 255, 255, 0.8);
  --arrow-background: rgba(255, 255, 255, 0.02);
  --arrow-border: rgba(255, 255, 255, 0.06);
  --arrow-box-shadow1: rgba(255, 255, 255, 0.25);
  --arrow-box-shadow2: rgba(0, 0, 0, 0.16);
  --font-inter: "Inter";
  --font-unbounded: "Unbounded";
}

body {
  background: var(--dark-background);
  font-size: 1.3125rem;
  color: var(--bs-white);
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
}
body * {
  font-family: var(--font-inter);
}

button {
  outline: none;
}

.container {
  max-width: 1782px;
  padding: 0 1.3125rem;
  position: relative;
}
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}
@media (max-width: 1780px) {
  .container {
    overflow: hidden;
  }
}

p {
  margin-bottom: 0;
  -ms-hyphens: auto;
  hyphens: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

h2.fs-2 {
  font-weight: 600;
  position: relative;
  z-index: 0;
}
@media (max-width: 992px) {
  h2.fs-2 {
    font-size: 2rem !important;
  }
}
@media (max-width: 550px) {
  h2.fs-2 {
    font-size: 1.3125rem !important;
  }
}

.hidden {
  overflow: hidden;
}

.main {
  padding-top: 7rem;
}
.main h1 {
  font-weight: 500;
  font-family: var(--font-unbounded);
}

.default-background {
  background: var(--white-background);
  border: 2px solid var(--white-background);
  backdrop-filter: blur(36px);
}

.default-list {
  list-style-type: disc;
}

@-webkit-keyframes circles_move {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes circles_move {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.circle-1-wrapper {
  position: absolute;
  top: -49vw;
  right: 27.25vw;
  width: 100vw;
  height: 100vw;
}

.circle-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(90% 90% at -6% 29%, rgba(210, 0, 140, 0) 0%, #d20043 100%);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  mix-blend-mode: color-dodge;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
.circle-1::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  right: 5%;
  background: red;
}
@media (max-width: 992px) {
  .circle-1 {
    top: -8%;
    right: 38%;
    width: 100vh;
    min-height: 100vh;
  }
}
.circle-1 .purple-circle {
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  opacity: 0.4;
  z-index: 3;
  top: -13%;
  left: -24%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0) 100%);
}

.white-circle-1 {
  position: absolute;
  width: 55%;
  height: 55%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.42) 7.77%, rgba(255, 255, 255, 0.35) 12.08%, rgba(255, 255, 255, 0.28) 23.75%, rgba(255, 255, 255, 0.21) 33.27%, rgba(255, 255, 255, 0.16) 47.63%, rgba(255, 255, 255, 0.11) 55%, rgba(255, 255, 255, 0.09) 66.31%, rgba(255, 255, 255, 0.05) 73.49%, rgba(255, 255, 255, 0.03) 85.88%, rgba(255, 255, 255, 0.01) 90.91%, rgba(255, 255, 255, 0) 100%);
  offset-path: path("M 1500 400 C 900 470 400 450 -300 220");
  offset-rotate: auto;
  -webkit-animation: circle1 13s cubic-bezier(0.4, 0, 0.2, 1) paused;
  animation: circle1 13s cubic-bezier(0.4, 0, 0.2, 1) paused;
}

@-webkit-keyframes circle1 {
  0% {
    offset-distance: 0%;
  }
  45% {
    offset-distance: 55%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes circle1 {
  0% {
    offset-distance: 0%;
  }
  45% {
    offset-distance: 55%;
  }
  100% {
    offset-distance: 100%;
  }
}
.white-circle-2 {
  width: 65%;
  height: 65%;
  position: absolute;
  top: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.46) 2.67%, rgba(255, 255, 255, 0.39) 7.19%, rgba(255, 255, 255, 0.3) 14.13%, rgba(255, 255, 255, 0.24) 18.21%, rgba(255, 255, 255, 0.19) 24.7%, rgba(255, 255, 255, 0.15) 31.68%, rgba(255, 255, 255, 0.12) 37.41%, rgba(255, 255, 255, 0.1) 41.99%, rgba(255, 255, 255, 0.09) 48.86%, rgba(255, 255, 255, 0.06) 59.16%, rgba(255, 255, 255, 0.04) 66.03%, rgba(255, 255, 255, 0.03) 76.46%, rgba(255, 255, 255, 0.01) 90.61%, rgba(255, 255, 255, 0) 100%);
  offset-path: path("M 1500 400 C 900 470 400 450 -300 220");
  offset-rotate: auto;
  -webkit-animation: circle2 13s cubic-bezier(0.4, 0, 0.2, 1) paused;
  animation: circle2 13s cubic-bezier(0.4, 0, 0.2, 1) paused;
}

@-webkit-keyframes circle2 {
  0% {
    offset-distance: 0%;
  }
  40% {
    offset-distance: 40%;
  }
  75% {
    offset-distance: 80%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes circle2 {
  0% {
    offset-distance: 0%;
  }
  40% {
    offset-distance: 40%;
  }
  75% {
    offset-distance: 80%;
  }
  100% {
    offset-distance: 100%;
  }
}
.white-circle-small {
  width: 25%;
  height: 25%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 100%);
  offset-rotate: auto;
  -webkit-animation: small_circle1 10s cubic-bezier(0.4, 0, 0.2, 1) paused;
  animation: small_circle1 10s cubic-bezier(0.4, 0, 0.2, 1) paused;
}

@-webkit-keyframes small_circle1 {
  0% {
    offset-distance: 0%;
  }
  45% {
    offset-distance: 55%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes small_circle1 {
  0% {
    offset-distance: 0%;
  }
  45% {
    offset-distance: 55%;
  }
  100% {
    offset-distance: 100%;
  }
}
.middle-circle-1 {
  width: 35%;
  height: 35%;
  position: absolute;
  top: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0) 100%);
  offset-rotate: auto;
  -webkit-animation: middle_circle1 10s cubic-bezier(0.4, 0, 0.2, 1) paused;
  animation: middle_circle1 10s cubic-bezier(0.4, 0, 0.2, 1) paused;
}

@-webkit-keyframes middle_circle1 {
  0% {
    offset-distance: 0%;
    width: 35%;
    height: 35%;
  }
  25% {
    offset-distance: 30%;
    width: 35%;
    height: 35%;
  }
  100% {
    offset-distance: 100%;
    width: 40%;
    height: 40%;
  }
}

@keyframes middle_circle1 {
  0% {
    offset-distance: 0%;
    width: 35%;
    height: 35%;
  }
  25% {
    offset-distance: 30%;
    width: 35%;
    height: 35%;
  }
  100% {
    offset-distance: 100%;
    width: 40%;
    height: 40%;
  }
}
.middle-circle-2 {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0) 100%);
  offset-rotate: auto;
  -webkit-animation: middle_circle3 10s cubic-bezier(0.4, 0, 0.2, 1) paused;
  animation: middle_circle3 10s cubic-bezier(0.4, 0, 0.2, 1) paused;
}

@-webkit-keyframes middle_circle3 {
  0% {
    offset-distance: 0%;
  }
  25% {
    offset-distance: 30%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes middle_circle3 {
  0% {
    offset-distance: 0%;
  }
  25% {
    offset-distance: 30%;
  }
  100% {
    offset-distance: 100%;
  }
}
.circle-2 {
  position: absolute;
  top: 10vw;
  left: 65.6vw;
  width: 69.2vw;
  height: 69.2vw;
  border-radius: 50%;
  background: radial-gradient(90% 90% at -6% 29%, rgba(210, 0, 140, 0) 0%, #d20043 100%);
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  mix-blend-mode: color-dodge;
}
@media (max-width: 992px) {
  .circle-2 {
    top: 29%;
    left: 60%;
    width: 69.2vh;
    height: 69.2vh;
  }
}
@media (max-width: 768px) {
  .circle-2 {
    left: 50%;
  }
}
.circle-2 .purple-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0) 100%);
}
.circle-2 .white-circle-1 {
  -webkit-animation: circle2_1 13s cubic-bezier(0.4, 0, 0.2, 1) paused;
  animation: circle2_1 13s cubic-bezier(0.4, 0, 0.2, 1) paused;
  -webkit-animation-delay: 5.6s;
  animation-delay: 5.6s;
}
.circle-2 .white-circle-2 {
  -webkit-animation: circle2_2 13s cubic-bezier(0.4, 0, 0.2, 1) paused;
  animation: circle2_2 13s cubic-bezier(0.4, 0, 0.2, 1) paused;
  -webkit-animation-delay: 6.7s;
  animation-delay: 6.7s;
}
.circle-2 .white-circle-small {
  -webkit-animation: small_circle2 10s linear paused;
  animation: small_circle2 10s linear paused;
  position: absolute;
  top: 0;
}
.circle-2 .middle-circle-1 {
  -webkit-animation: middle_circle2 10s cubic-bezier(0.4, 0, 0.2, 1) paused;
  animation: middle_circle2 10s cubic-bezier(0.4, 0, 0.2, 1) paused;
  -webkit-animation-delay: 4.3s;
  animation-delay: 4.3s;
}
.circle-2 .middle-circle-2 {
  width: 35%;
  height: 35%;
  -webkit-animation: middle_circle4 7s linear paused;
  animation: middle_circle4 7s linear paused;
  -webkit-animation-delay: 4.8s;
  animation-delay: 4.8s;
}

@-webkit-keyframes circle2_1 {
  0% {
    offset-distance: 0%;
  }
  50% {
    offset-distance: 55%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes circle2_1 {
  0% {
    offset-distance: 0%;
  }
  50% {
    offset-distance: 55%;
  }
  100% {
    offset-distance: 100%;
  }
}
@-webkit-keyframes circle2_2 {
  0% {
    offset-distance: 0%;
  }
  15% {
    offset-distance: 15%;
  }
  20% {
    offset-distance: 15%;
  }
  100% {
    offset-distance: 100%;
  }
}
@keyframes circle2_2 {
  0% {
    offset-distance: 0%;
  }
  15% {
    offset-distance: 15%;
  }
  20% {
    offset-distance: 15%;
  }
  100% {
    offset-distance: 100%;
  }
}
@-webkit-keyframes small_circle2 {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 70%;
  }
}
@keyframes small_circle2 {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 70%;
  }
}
@-webkit-keyframes middle_circle2 {
  0% {
    offset-distance: 0%;
    width: 40%;
    height: 40%;
  }
  30% {
    offset-distance: 30%;
    width: 42%;
    height: 42%;
  }
  100% {
    offset-distance: 100%;
    width: 45%;
    height: 45%;
  }
}
@keyframes middle_circle2 {
  0% {
    offset-distance: 0%;
    width: 40%;
    height: 40%;
  }
  30% {
    offset-distance: 30%;
    width: 42%;
    height: 42%;
  }
  100% {
    offset-distance: 100%;
    width: 45%;
    height: 45%;
  }
}
@-webkit-keyframes middle_circle4 {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
@keyframes middle_circle4 {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
.main-blur1 {
  position: absolute;
  top: -28vw;
  left: -34.5vw;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(23deg);
  width: 137vw;
  height: 56vw;
  z-index: -1;
  opacity: 0.3;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  background: radial-gradient(50% 50% at 50% 50%, rgb(237, 24, 113) 0%, rgba(237, 24, 113, 0.5) 39.5%, rgba(237, 24, 113, 0.3) 70.99%, rgba(237, 24, 113, 0) 100%);
}
@media (max-width: 992px) {
  .main-blur1 {
    position: absolute;
    top: -46vw;
    left: -32.5vw;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    width: 150vw;
    height: 106vh;
    opacity: 0.5;
  }
}
@media (max-width: 768px) {
  .main-blur1 {
    width: 250vw;
    left: -68.5vw;
  }
}

.background-blur {
  pointer-events: none;
  background: radial-gradient(50% 50% at 50% 50%, rgba(190, 0, 104, 0.55) 0%, rgba(139, 10, 81, 0.5) 39.5%, rgba(71, 4, 41, 0.3) 70.99%, rgba(26, 1, 14, 0) 100%);
}

.background-blue-blur {
  pointer-events: none;
  background: radial-gradient(ellipse at center, rgba(70, 66, 243, 0.3) 0%, rgba(53, 47, 171, 0.2) 40%, rgba(38, 30, 106, 0.02) 71%, rgba(18, 7, 21, 0) 80%);
}
.background-blue-blur.services {
  width: 100%;
  min-height: 140%;
  opacity: 0.55;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .background-blue-blur.services {
    width: 200%;
    height: 140%;
    opacity: 0.55;
    left: -50%;
    top: -10%;
  }
}
.background-blue-blur.helpful {
  width: 100%;
  height: 140%;
  opacity: 0.5;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .background-blue-blur.helpful {
    opacity: 0.7;
    top: 52%;
    width: 200%;
  }
}
.background-blue-blur.reviews {
  width: 120%;
  height: 120%;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .background-blue-blur.reviews {
    height: 160%;
    width: 220%;
  }
}

@media (max-width: 550px) {
  .container h2 {
    font-size: 1.3125rem !important;
  }
}

.accordion-wrapper {
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
.accordion-wrapper > *:first-child {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
}
@media (max-width: 1500px) {
  .accordion-wrapper > *:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.disabled {
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */
