<section class="creating why-we mt-lg-10 mt-md-9 mt-8">
    <h2 class="fs-2 text-center">Как мы создаем лендинги в APEXWEB</h2>

    <div class="d-grid creating-wrapper gap-4 mt-md-9 mt-5">
        <div class="creating-wrapper__item overflow-hidden default-background position-relative p-lg-5 p-3 rounded-4">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <img src="./img/service/audition.jpg" alt="audition" class="rounded-4">
            <p class="why-we__title mt-5">Анализ вашей аудитории</p>
            <p class="why-we__description mt-3">Определяем потребности и ожидания Вашей целевой аудитории, чтобы сделать
                лендинг максимально эффективным</p>
        </div>
        <div class="creating-wrapper__item overflow-hidden default-background position-relative p-lg-5 p-3 rounded-4">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <img src="./img/service/design.jpg" alt="design" class="rounded-4">
            <p class="why-we__title mt-5">Разработка уникального дизайна</p>
            <p class="why-we__description mt-3">Мы без дополнительных трат улучшаем скорость загрузки, структуру сайта и
                внедряем мобильную адаптацию, обеспечивая
                лучшую техническую поддержку</p>
        </div>
        <div class="creating-wrapper__item overflow-hidden default-background position-relative p-lg-5 p-3 rounded-4">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <img src="./img/service/content.jpg" alt="content" class="rounded-4">
            <p class="why-we__title mt-5">Создание качественного контента</p>
            <p class="why-we__description mt-3">Грамотно составленные тексты и визуальный контент подчеркивают
                преимущества Вашего предложения</p>
        </div>
        <div class="creating-wrapper__item overflow-hidden default-background position-relative p-lg-5 p-3 rounded-4">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <img src="./img/service/testing.jpg" alt="testing" class="rounded-4">
            <p class="why-we__title mt-5">Программирование и тестирование</p>
            <p class="why-we__description mt-3">Разрабатываем лендинг с нуля и тестируем его на всех устройствах для
                обеспечения безупречной работы</p>
        </div>
        <div class="creating-wrapper__item overflow-hidden default-background position-relative p-lg-5 p-3 rounded-4">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <img src="./img/service/seo.jpg" alt="seo" class="rounded-4">
            <p class="why-we__title mt-5">SEO-оптимизация</p>
            <p class="why-we__description mt-3">Настраиваем лендинг под поисковые запросы, чтобы привлечь органический
                трафик</p>
        </div>
    </div>
</section>