<section class="about-service d-lg-grid d-flex gap-4 mt-lg-10 mt-9 position-relative">
    <div class="background-blur about-service position-absolute"></div>
    <div class="about-service__description default-background rounded-4 p-md-5 p-3">
        <p class="fs-3 about-service__title">Что такое лендинг и для чего он нужен?</p>
        <p class="mt-3">Лендинг (landing page) — это одностраничный сайт, предназначенный для презентации продукта,
            услуги или акции.
            Его
            главная цель — вовлечь пользователя и побудить его к целевому действию:</p>
        <ul class="about-service__list my-3">
            <li>Оставить заявку</li>
            <li>Подписаться на рассылку</li>
            <li>Купить товар и пр.</li>
        </ul>
        <p>Лендинги — мощный инструмент интернет-маркетинга, который помогает быстро привлекать клиентов и увеличивать
            конверсию!</p>
    </div>
    <div class="about-service__image rounded-4">
        <img src="./img/service.jpg" alt="service" class="rounded-4">
    </div>
</section>