<section class="faq mt-lg-10 mt-md-9 mt-8">
    <h2 class="fs-2 text-center">Частые вопросы</h2>

    <div class="accordion-wrapper d-grid mt-5">
        <div class="accordion mt-md-8 mt-0 d-flex flex-column gap-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Какие преимущества дает лендинг для бизнеса?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>На лендинге можно реализовать различные функции:</p>

                        <ul class="default-list mt-4">
                            <li>Формы захвата лидов (например, регистрация на вебинар или подписка на рассылку).</li>
                            <li>Кнопки для оплаты или заказа.</li>
                            <li>Интеграция с CRM для сбора данных.</li>
                            <li>Анимации и видеоматериалы для лучшего вовлечения.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Какие этапы включает создание лендинга?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>На лендинге можно реализовать различные функции:</p>

                        <ul class="default-list mt-4">
                            <li>Формы захвата лидов (например, регистрация на вебинар или подписка на рассылку).</li>
                            <li>Кнопки для оплаты или заказа.</li>
                            <li>Интеграция с CRM для сбора данных.</li>
                            <li>Анимации и видеоматериалы для лучшего вовлечения.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Сколько времени занимает разработка лендинга?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>На лендинге можно реализовать различные функции:</p>

                        <ul class="default-list mt-4">
                            <li>Формы захвата лидов (например, регистрация на вебинар или подписка на рассылку).</li>
                            <li>Кнопки для оплаты или заказа.</li>
                            <li>Интеграция с CRM для сбора данных.</li>
                            <li>Анимации и видеоматериалы для лучшего вовлечения.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Какие функции можно реализовать на лендинге?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>На лендинге можно реализовать различные функции:</p>

                        <ul class="default-list mt-4">
                            <li>Формы захвата лидов (например, регистрация на вебинар или подписка на рассылку).</li>
                            <li>Кнопки для оплаты или заказа.</li>
                            <li>Интеграция с CRM для сбора данных.</li>
                            <li>Анимации и видеоматериалы для лучшего вовлечения.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Нужно ли заниматься SEO для лендинга?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>На лендинге можно реализовать различные функции:</p>

                        <ul class="default-list mt-4">
                            <li>Формы захвата лидов (например, регистрация на вебинар или подписка на рассылку).</li>
                            <li>Кнопки для оплаты или заказа.</li>
                            <li>Интеграция с CRM для сбора данных.</li>
                            <li>Анимации и видеоматериалы для лучшего вовлечения.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSixth" aria-expanded="false" aria-controls="collapseSixth">
                        Могу ли я обновлять контент на лендинге самостоятельно?
                    </button>
                </h2>
                <div id="collapseSixth" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>На лендинге можно реализовать различные функции:</p>

                        <ul class="default-list mt-4">
                            <li>Формы захвата лидов (например, регистрация на вебинар или подписка на рассылку).</li>
                            <li>Кнопки для оплаты или заказа.</li>
                            <li>Интеграция с CRM для сбора данных.</li>
                            <li>Анимации и видеоматериалы для лучшего вовлечения.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeventh" aria-expanded="false" aria-controls="collapseSeventh">
                        Как я могу отслеживать эффективность лендинга?
                    </button>
                </h2>
                <div id="collapseSeventh" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>На лендинге можно реализовать различные функции:</p>

                        <ul class="default-list mt-4">
                            <li>Формы захвата лидов (например, регистрация на вебинар или подписка на рассылку).</li>
                            <li>Кнопки для оплаты или заказа.</li>
                            <li>Интеграция с CRM для сбора данных.</li>
                            <li>Анимации и видеоматериалы для лучшего вовлечения.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>