<section class="projects mt-lg-10 mt-md-9 mt-8 position-relative">
    <div class="background-blur projects position-absolute"></div>
    <h2 class="fs-2 text-center">Примеры разработанных лендингов</h2>

    <div class="projects__wrapper d-grid gap-3 mt-lg-9 mt-md-8 mt-5">
        <div class="projects__project project-projects rounded-4 p-md-5 p-3 position-relative overflow-hidden">
            <div class="project__wrapper position-relative d-flex flex-column h-100">
                <a href="#"><img src="./img/project.jpg" alt="project"
                        class="project-projects__img rounded-3 w-100"></a>
                <div class="flex-fill">
                    <p class="why-we__title mt-md-6 mt-3">Комплексное обслуживание Telezon</p>
                    <p class="why-we__description mt-md-3 mt-2">Упаковали новый визуал сайта, улучшили пользовательский
                        опыт,
                        увеличили
                        процент конверсий...</p>
                </div>

                <div class="project__links links-project d-flex justify-content-between mt-md-4 mt-3">
                    <div class="links-project__wrapper d-flex gap-2">
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                    </div>
                    <p class="links-project__link rounded-3">
                        <a class="py-md-2 py-1 px-3 d-flex align-items-center gap-3" href="#"><span>Смотреть кейс</span>
                            <svg class="large-arrow">
                                <use href="./img/svg/sprite.svg#large-arrow"></use>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>

            <div class="blur1 projects position-absolute"></div>
            <div class="blur2 projects position-absolute"></div>
        </div>
        <div class="projects__project project-projects rounded-4 p-md-5 p-3 position-relative overflow-hidden">
            <div class="project__wrapper position-relative d-flex flex-column h-100">
                <a href="#"><img src="./img/project.jpg" alt="project"
                        class="project-projects__img rounded-3 w-100"></a>
                <div class="flex-fill">
                    <p class="why-we__title mt-md-6 mt-3">Комплексное обслуживание Telezon</p>
                    <p class="why-we__description mt-md-3 mt-2">Упаковали новый визуал сайта, улучшили пользовательский
                        опыт,
                        увеличили
                        процент конверсий...</p>
                </div>

                <div class="project__links links-project d-flex justify-content-between mt-md-4 mt-3">
                    <div class="links-project__wrapper d-flex gap-2">
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                    </div>
                    <p class="links-project__link rounded-3">
                        <a class="py-md-2 py-1 px-3 d-flex align-items-center gap-3" href="#"><span>Смотреть кейс</span>
                            <svg class="large-arrow">
                                <use href="./img/svg/sprite.svg#large-arrow"></use>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>

            <div class="blur1 projects position-absolute"></div>
            <div class="blur2 projects position-absolute"></div>
        </div>
        <div class="projects__project project-projects rounded-4 p-md-5 p-3 position-relative overflow-hidden">
            <div class="project__wrapper position-relative d-flex flex-column h-100">
                <a href="#"><img src="./img/project.jpg" alt="project"
                        class="project-projects__img rounded-3 w-100"></a>
                <div class="flex-fill">
                    <p class="why-we__title mt-md-6 mt-3">Комплексное обслуживание Telezon</p>
                    <p class="why-we__description mt-md-3 mt-2">Упаковали новый визуал сайта, улучшили пользовательский
                        опыт,
                        увеличили
                        процент конверсий...</p>
                </div>

                <div class="project__links links-project d-flex justify-content-between mt-md-4 mt-3">
                    <div class="links-project__wrapper d-flex gap-2">
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                    </div>
                    <p class="links-project__link rounded-3">
                        <a class="py-md-2 py-1 px-3 d-flex align-items-center gap-3" href="#"><span>Смотреть кейс</span>
                            <svg class="large-arrow">
                                <use href="./img/svg/sprite.svg#large-arrow"></use>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>

            <div class="blur1 projects position-absolute"></div>
            <div class="blur2 projects position-absolute"></div>
        </div>
        <div class="projects__project project-projects rounded-4 p-md-5 p-3 position-relative overflow-hidden">
            <div class="project__wrapper position-relative d-flex flex-column h-100">
                <a href="#"><img src="./img/project.jpg" alt="project"
                        class="project-projects__img rounded-3 w-100"></a>
                <div class="flex-fill">
                    <p class="why-we__title mt-md-6 mt-3">Комплексное обслуживание Telezon</p>
                    <p class="why-we__description mt-md-3 mt-2">Упаковали новый визуал сайта, улучшили пользовательский
                        опыт,
                        увеличили
                        процент конверсий...</p>
                </div>

                <div class="project__links links-project d-flex justify-content-between mt-md-4 mt-3">
                    <div class="links-project__wrapper d-flex gap-2">
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                        <p class="links-project__link rounded-3">
                            <a class="py-2 px-3 d-block" href="#">Провайдер B2B</a>
                        </p>
                    </div>
                    <p class="links-project__link rounded-3">
                        <a class="py-md-2 py-1 px-3 d-flex align-items-center gap-3" href="#"><span>Смотреть кейс</span>
                            <svg class="large-arrow">
                                <use href="./img/svg/sprite.svg#large-arrow"></use>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>

            <div class="blur1 projects position-absolute"></div>
            <div class="blur2 projects position-absolute"></div>
        </div>
    </div>

    <a class="d-flex align-items-center gap-3 justify-content-end mt-md-7 mt-4 all-projects pe-3" href="#"><span>Все
            проекты</span>
        <svg class="large-arrow">
            <use href="./img/svg/sprite.svg#large-arrow"></use>
        </svg>
    </a>
</section>