<section class="steps mt-lg-10 mt-md-9 mt-8">
    <h2 class="fs-2 text-center">Этапы разработки лендинга в APEXWEB</h2>

    <div class="d-flex flex-column m-auto gap-md-7 gap-3 mt-md-9 mt-5 steps-wrapper">
        <div class="steps__item d-flex gap-md-5 gap-3 item-steps align-items-center">
            <p class="item-steps__number d-flex align-items-center justify-content-center rounded-3">
                <svg class="number_one">
                    <use xlink:href="./img/svg/sprite.svg#one"></use>
                </svg>
            </p>
            <p class="item-steps__text fs-3 flex-fill">Оформление заявки</p>
        </div>
        <div class="steps__item d-flex gap-md-5 gap-3 item-steps align-items-center">
            <p class="item-steps__number d-flex align-items-center justify-content-center rounded-3">
                <svg class="number_two">
                    <use xlink:href="./img/svg/sprite.svg#two"></use>
                </svg>
            </p>
            <p class="item-steps__text fs-3 flex-fill">Обсуждение и согласование концепции</p>
        </div>
        <div class="steps__item d-flex gap-md-5 gap-3 item-steps align-items-center">
            <p class="item-steps__number d-flex align-items-center justify-content-center rounded-3">
                <svg class="number_three">
                    <use xlink:href="./img/svg/sprite.svg#three"></use>
                </svg>
            </p>
            <p class="item-steps__text fs-3 flex-fill">Создание прототипа</p>
        </div>
        <div class="steps__item d-flex gap-md-5 gap-3 item-steps align-items-center">
            <p class="item-steps__number d-flex align-items-center justify-content-center rounded-3">
                <svg class="number_four">
                    <use xlink:href="./img/svg/sprite.svg#four"></use>
                </svg>
            </p>
            <p class="item-steps__text fs-3 flex-fill">Дизайн и разработка</p>
        </div>
        <div class="steps__item d-flex gap-md-5 gap-3 item-steps align-items-center">
            <p class="item-steps__number d-flex align-items-center justify-content-center rounded-3">
                <svg class="number_five">
                    <use xlink:href="./img/svg/sprite.svg#five"></use>
                </svg>
            </p>
            <p class="item-steps__text fs-3 flex-fill">Тестирование и запуск</p>
        </div>
    </div>
</section>