<section class="why-we mt-lg-10 mt-9 position-relative">
    <div class="background-blur lending position-absolute"></div>
    <h2 class="fs-2 text-center">Преимущества лендинга</h2>

    <div class="d-grid why-we__blocks mt-lg-9 mt-md-8 mt-7 gap-md-4 gap-3">
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#hands"></use>
                </svg>
            </div>
            <div class="why-we__wrapper flex-fill mt-7">
                <p class="why-we__title">Высокая конверсия</p>
                <p class="why-we__description mt-3">За счет фокусировки на одной цели лендинги обеспечивают высокий
                    процент отклика</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#cup"></use>
                </svg>
            </div>
            <div class="why-we__wrapper flex-fill mt-7">
                <p class="why-we__title">Быстрая разработка</p>
                <p class="why-we__description mt-3">Лендинг создается быстрее, чем многостраничный сайт, что позволяет
                    оперативно запустить рекламную кампанию</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#strange"></use>
                </svg>
            </div>
            <div class="why-we__wrapper flex-fill mt-7">
                <p class="why-we__title">Мобильная адаптация</p>
                <p class="why-we__description mt-3">Лендинги отлично отображаются на любых устройствах, что увеличивает
                    охват аудитории</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#energy"></use>
                </svg>
            </div>
            <div class="why-we__wrapper flex-fill mt-7">
                <p class="why-we__title">Простота SEO-продвижения</p>
                <p class="why-we__description mt-3">Оптимизированная структура страницы улучшает ее видимость в
                    поисковых системах</p>
            </div>
        </div>
    </div>
</section>