<section class="why-we mt-lg-10 mt-9 position-relative">
    <div class="background-blur why-we position-absolute"></div>
    <h2 class="fs-2 text-center">Почему выбирают APEXWEB</h2>

    <div class="d-grid why-we__blocks mt-lg-9 mt-md-8 mt-7 gap-md-4 gap-3">
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#hands"></use>
                </svg>
            </div>
            <div class="why-we__wrapper">
                <p class="why-we__title">Опытная команда</p>
                <p class="why-we__description mt-3">У нас работают профессионалы с многолетним опытом создания сайтов
                </p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#cup"></use>
                </svg>
            </div>
            <div class="why-we__wrapper">
                <p class="why-we__title">Гарантия результата</p>
                <p class="why-we__description mt-3">Мы обеспечиваем не только красивый дизайн, но и эффективность
                    лендинга</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#strange"></use>
                </svg>
            </div>
            <div class="why-we__wrapper">
                <p class="why-we__title">Скорость выполнения</p>
                <p class="why-we__description mt-3">Ваш лендинг будет готов в минимально возможные сроки без потери
                    качества</p>
            </div>
        </div>
        <div class="why-we__block p-md-5 p-3 overflow-hidden position-relative rounded-4 d-flex flex-column">
            <div class="blur1 we position-absolute"></div>
            <div class="blur2 we position-absolute"></div>
            <div class="svg-wrapper we">
                <svg>
                    <use href="./img/svg/sprite.svg#energy"></use>
                </svg>
            </div>
            <div class="why-we__wrapper">
                <p class="why-we__title">Поддержка и развитие</p>
                <p class="why-we__description mt-3">Мы предлагаем услуги сопровождения и улучшения лендинга после его
                    запуска</p>
            </div>
        </div>
    </div>
</section>